<template>
  <!--about me section-->
  <div id="about-me" class="px-10">
    <div class="container mx-auto pt-40 pb-4 flex flex-col-reverse lg:flex-row items-center gap-20">
      <!-- left -->
      <div class="relative mb-0 lg:mb-80">
        <img class="h-1/4 absolute top-0 left-5 -z-10 object-cover" :src="'../storage/img/dots.png'" alt=""/>
        <div class=" w-72 rounded-full overflow-hidden">
          <img :src="'../storage/img/portrait2.png'" alt="Vlad-Octav" />
        </div>
      </div>
      <!-- right -->
      <div class="my-auto flex flex-col gap-3">
        <h1 class="text-indigo-600 font-bold">ABOUT ME</h1>
        <h1 class="text-3xl font-medium ">Better Design</h1>
        <h1 class="text-3xl font-medium ">
          Better Experience
        </h1>
        <p class="text-gray-400">
          I design and build digital products with Laravel, Vue 3 and TailwindCSS. I love to code your ideea.
        </p>

        <h2 class="text-gray-400 font-medium">TailwindCSS/Bootstrap</h2>
        <div class="w-full bg-gray-200 h-1.5 rounded-md">
          <div class="w-5/6 bg-indigo-600 h-1.5 rounded-md"></div>
        </div>
        <h2 class="text-gray-400 font-medium">Vue Js 3/JavaScript</h2>
        <div class="w-full bg-gray-200 h-1.5 rounded-md">
          <div class="w-5/6 bg-indigo-600 h-1.5 rounded-md"></div>
        </div>
        <h2 class="text-gray-400 font-medium">Laravel</h2>
        <div class="w-full bg-gray-200 h-1.5 rounded-md">
          <div class="w-4/6 bg-indigo-600 h-1.5 rounded-md"></div>
        </div>
        <h2 class="text-gray-400 font-medium">HTML</h2>
        <div class="w-full bg-gray-200 h-1.5 rounded-md">
          <div class="w-full bg-indigo-600 h-1.5 rounded-md"></div>
        </div>
        <h1 class="text-3xl font-medium mb-4">Work Experience</h1>
        <div v-for="(item, index) in items" :key="index" class="">
          <button @click="toggleAccordion(index)" :class="{ 'active': item.active }" class="text-gray-400 font-medium">
            {{ item.header }} - <b>{{item.bold}} &#x25BC;</b>
          </button>
          <div class="">
            <p v-show="item.active" class="text-gray-400 ">
              {{ item.panelContent }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import { ref } from 'vue';

export default {
  setup() {
    const items = ref(
      [
        { header: 'Nov 2023/Present',  bold:  'Enrich my knowledge',
          panelContent: ' Laravel, VueJs 3, TailwindCSS, InertiaJS, GitLab', active: false },
        { header: 'Dec 2019/present',  bold: 'Information Technology Analyst - Dedeman',
          panelContent: 'SAP, Windows, Microsoft Active Directory, WI-FI, BitDefender, Microsoft Office, Windows Os, IOS Os', active: false },
        { header: 'Aug 2018/Nov 2019',  bold: 'Service Desk Analyst - Scc Romania ',
          panelContent: 'Microsoft Active Directory, Networking, Microsoft Office, Windows Os, Sinapsi, Skype', active: false },
        { header: 'Dec 2016 - May 2018',  bold: 'Developer/QA quality assurance - Softescu',
          panelContent: ' Jira, PHP, Drupal, JavaScript, SCSS, Ubuntu, Browserstack, Bootstrap', active: false },
      ],
    );

    const toggleAccordion = (index) => {
      items.value.forEach((item, i) => {
        item.active = i === index ? !item.active : false;
      });
    };

    return {
      items,
      toggleAccordion,
    };
  },
};
</script>


<style scoped>

</style>


