<template>
      <!-- into section -->
      <div class=" h-96 lg:h-screen bg-gradient-to-t from-indigo-200 relative overflow-hidden">
      <!-- navbar -->
      <nav class="w-full fixed top-0 bg-white z-10">
        <div class="container mx-auto py-5 flex justify-between items-center">

          <div class="flex ">
            <img :src="'../storage/img/vlad.logo.png'" alt="vlad-logo" class="">
          </div>

          <ul class="hidden md:flex text-gray-600 font-bold text-sm uppercase  space-x-4">
            <li class="hover:text-gray-500"><a id="hLink"  href="#">Home</a></li>
            <li class="hover:text-gray-500"><a id="hLink"  href="#about-me">About me</a></li>
            <li class="hover:text-gray-500"><a id="hLink"  href="#my-works">Work</a></li>
            <li class="hover:text-gray-500"><a id="hLink"  href="#my-contact">Contact</a></li>
          </ul>
          <div class="flex">
            <img :src="'../storage/img/sun.png'" alt="sun" class="hidden md:block w-20"/>
          </div>

          <div id="hamburger" @click="toggleMenu" class="space-y-1 md:hidden cursor-pointer z-20">
            <div class="w-6 h-0.5 bg-black"></div>
            <div class="w-6 h-0.5 bg-black"></div>
            <div class="w-6 h-0.5 bg-black"></div>
          </div>

          <ul
            id="menu"
            :class="{ hidden: !isOpen }"
            class=" sm:hidden  bg-indigo-900 absolute left-0 top-0 w-full p-10 space-y-10 text-white text-center"
          >
            <li>
              <a id="hLink" href="#">homepage</a>
            </li>
            <li>
              <a id="hLink" href="#about-me">about me</a>
            </li>
            <li>
              <a id="hLink" href="#my-works">work</a>
            </li>
            <li>
              <a id="hLink" href="#my-contact">contact</a>
            </li>
          </ul>

        </div>
      </nav>
      <div class="container mx-auto">
      </div>
      <!--intro content -->
      <!--image-->
      <img id="poza" :src="'../storage/img/vlad.octav.png'" class="absolute bottom-0 right-0 left-0  lg:left-0 mx-auto h-3/5 md:h-4/6 lg:h-3/5 object-cover " />
      <!--background circle-->
      <div
        class="hidden lg:block absolute -bottom-96 right-0
               left-12 mx-auto w-big h-big bg-indigo-400 rounded-full -z-10"
      >
      </div>
      <!--animated text-->
      <div
        class="absolute animated-text top-1/3 left-5 text-xl sm:left-5 sm:text-4xl
              md:left-10 md:text-4xl lg:text-6xl lg:left-5 xl:left-48 xl:text-7xl font-bold"
      >
        <p class="text-gray-600">Web</p>
        <span class="text-indigo-300">{{ typeValue }}</span>
        <span class="cursor" :class="{'typing': typeStatus}">&nbsp;</span>
      </div>

      <div
        class="hidden lg:flex flex-col gap-3 rounded-md absolute
              top-8 h-2/4 bottom-0 lg:bottom-52 m-auto
              right-8 bg-white p-6  lg:h-fit w-1/3
              shadow-xl md:flex lg:top-0 overflow-scroll lg:overflow-hidden "
      >
        <h1 class="lg:text-4xl text-3xl text-indigo-900 font-bold">Hi, I'am Vlad</h1>
        <p  class="text-gray-400 ">
          If describing myself in a few words, I am highly capable and hard-working always looking for self-improvement.  Every time I work for better results and new skills and I know that only with ambition and dedication I can reach them.
        </p>

      </div>

    </div>
</template>

<script>
export default {
  data() {
    return {
      isOpen: false,
      typeValue: '',
      typeStatus: false,
      typeArray: ['Developer', 'Designer', 'Life'],
      typingSpeed: 200,
      erasingSpeed: 100,
      newTextDelay: 2000,
      typeArrayIndex: 0,
      charIndex: 0
    }
  },
  methods:{
    toggleMenu() {
      this.isOpen = !this.isOpen
    },
    typeText() {
        if(this.charIndex < this.typeArray[this.typeArrayIndex].length) {
          if(!this.typeStatus)
            this.typeStatus = true;

          this.typeValue += this.typeArray[this.typeArrayIndex].charAt(this.charIndex);
          this.charIndex += 1;

          setTimeout(this.typeText, this.typingSpeed);
        }
        else {
          this.typeStatus = false;
          setTimeout(this.eraseText, this.newTextDelay);
        }
      },

      eraseText() {
        if(this.charIndex > 0) {
          if(!this.typeStatus)
            this.typeStatus = true;

          this.typeValue = this.typeArray[this.typeArrayIndex].substring(0, this.charIndex - 1);
          this.charIndex -= 1;
          setTimeout(this.eraseText, this.erasingSpeed);
        }
        else {
          this.typeStatus = false;
          this.typeArrayIndex += 1;
          if(this.typeArrayIndex >= this.typeArray.length)
            this.typeArrayIndex = 0;

          setTimeout(this.typeText, this.typingSpeed + 1000);
        }
      }
  },
  created() {
        setTimeout(this.typeText, this.newTextDelay + 200);
      }
}
</script>