<template>
    <HeaderComponent />
    <AboutMe/>
    <MyWork />
    <MyContact />
</template>

<script setup>
  import HeaderComponent from './HeaderComponent.vue';
  import AboutMe from './AboutMe.vue';
  import MyWork from './MyWork.vue';
  import MyContact from './MyContact.vue';
</script>