<template>

<div id="my-works" class="py-40">
  <div class="container mx-auto">
    <!-- top -->
    <div class="flex flex-col gap-3 items-center">
      <h1 class="text-indigo-600 font-bold">PORTFOLIO</h1>
      <h1 class="text-3xl">Work & Projects</h1>
      <p class="w-1/2 text-center text-gray-400">
        I help designers, small agencies and businesses bring their ideas to
        life. Powered by Laravel, VueJs, VS Code and coffee, I turn your requirements
        into a well-designed websites
      </p>
    </div>
    <!-- bottom -->
    <div class="p-5 sm:p-0 flex flex-wrap justify-between">
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
        <a href="https://gitlab.com/goreavladoctav/ecommerce-site">
          <img :src="'../storage/img/my-site.PNG'" />
        </a>
      </div>
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
        <a href="https://gitlab.com/goreavladoctav/restaurant-orders ">
          <img :src="'../storage/img/restauran-orders.PNG'" />
        </a>
      </div>
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
        <a href="https://gitlab.com/goreavladoctav/check-your-reflex">
          <img :src="'../storage/img/check-reflexes.png'" />
        </a>
      </div>
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
      <a href="https://gitlab.com/goreavladoctav/vuejs_tailwindcss_landingpage">
        <img :src="'../storage/img/landing-page1.png'" />
      </a>
      </div>
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
        <a href="vlado-octav.online">
          <img :src="'../storage/img/vlad.png'" />
        </a>
      </div>
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
        <img :src="'../storage/img/item.png'" />
      </div>
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
        <img :src="'../storage/img/item.png'" />
      </div>
      <!-- card -->
      <div
        class="w-full md:w-5/12 lg:w-1/5 shadow-xl rounded-lg my-3 md:my-10 m-1 transition-all hover:scale-110"
      >
        <img :src="'../storage/img/item.png'" />
      </div>
    </div>
  </div>
</div>
</template>